<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1840 - 1849" baCardClass="with-scroll">
      <div class="section-block">
        <p>1840 was when the Act of Union unites Upper and Lower Canada.
        </p>
      </div>
      <div class="section-block">
        <p>
          In 1841 London had finally passed the Act Of Union and Lord Durham’s vision had finally become a reality.
        </p>
      </div>
      <div class="section-block">
        <p>
          Great Britain adopts a free trade policy in 1846
        </p>
      </div>
      <div class="section-block">
        <p>
         Responsible government was founded in Nova Scotia and United Province of Canada in 1848
        </p>
      </div>
      <div class="section-block">
        <p>
          The Sayer trial brought free trade to Rupert's Land in 1849
        </p>
      </div>
    </ba-card>
  </div>
</div>
