<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1800 - 1810" baCardClass="with-scroll">
      <div class="section-block"><p>In between the years of 1810 and 1819 came the war of 1812 which changed the path that Canada was going to take even though this war didn’t benefit Canada if it was to be removed from our history Canada wouldn't be what it is now. Before the revolutionary war in  1775-1783 the British government promised to respect the sovereignty of the united States. But after the revolutionary war had passed, a lot of British elites  remained skeptical of that the american experiment would even last.
      </p>
      </div>
      <div class="section-block">
        <p>
          In 1817 was when the Nova Scotian population was estimated at 78,345
        </p>
      </div>
      <div class="section-block">
        <p>
          Canada’s first prime minister was a man named John A. Macdonald who had served as prime minister since 1867 until 1891 when he had passed away.
          Before he became Canada’s first prime minister he had been serving as a high- profile  politician in the old congress of United Province.
        </p>
      </div>
    </ba-card>
  </div>
</div>
