<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1870 - 1879" baCardClass="with-scroll">
      <div class="section-block">
        <p>
          In 1870 the provisional government of western British territory of Manitoba was led by the fascinating Louis Riel. He had agreed to join the confederation on behalf of Manitoba and became the fifth province in Canada.
        </p>
      </div>
      <div class="section-block">
        <p>
          In 1871 Louis Riel was followed by the Pacific coast colony of British Columbia who had also decided to join the dominion of Canada after receiving the assurance of John A. Macdonald that their railroad would reach as far as they were.
        </p>
      </div>
      <div class="section-block">
        <p>
          In 1873 which was 2 years after British colombia had decided to become a part of the dominion, the little Atlantic island colony of Prince Edward Island Became the province number 7. But 2 years before they had joined they had very arrogantly refused the dominion of Canada, then they realized 2 years later that they were so heavily in debt that they had little choice and needed assistance.
        </p>
      </div>
    </ba-card>
  </div>
</div>
