<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1810 - 1819" baCardClass="with-scroll">
      <div class="section-block">
        <p>
          In between the years of 1810 and 1819 came the war of 1812. This changed the path that Canada was going to take even though this war didn’t benefit Canada. If this war was to be removed from our history books Canada wouldn't be what it is now. Before the revolutionary war in  1775-1783 the British government promised to respect the sovereignty of the united States. But after the revolutionary war had passed, a lot of British elites  remained skeptical of that the american experiment would even last.
        </p>
      </div>
    </ba-card>
  </div>
</div>
