<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1970 - 1979" baCardClass="with-scroll">
      <div class="section-block">
        <p>
          1970 was when Pierre Trudeau first introduced the first arctic winter games in yellowknife, NWT on march 10
        </p>
      </div>
      <div class="section-block">
        <p>
          1971 was when the entire population of Canada was recorded to be about 21,568,000
          The year of 1976 July 17, was when the Olympic Games had officially opened in Montreal, QC.
        </p>
      </div>
    </ba-card>
  </div>
</div>
