<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1860 - 1869" baCardClass="with-scroll">
      <div class="section-block">
        <p>
          In between the years of 1861 and 1864 the United States fought a very disgusting civil war. Between its Northern and Southern States. The british government decided to support the south which wasn’t the best move because in the end the North eventually won and this did not do great things to the U.S British relations and as well as they were embarrassed that they were supporting the wrong side.
        </p>
      </div>
      <div class="section-block">
        <p>
          Now once again the American’s started to see the canadian colonies to their North as a possible staging ground for an attack and the talk of the war of 1812 rematch was getting louder. Because of all these reasons in the 1860’s colonial politicians had begun to support the idea of merging all of England's remaining North american colonies into some sort of unified confederation. The only reason that these colonial politicians had even brought up this idea was because they thought that this would improve economic and military strength which would be made and born from the combined land and resources that they receive from unifying and turning into one country.
        </p>
      </div>
      <div class="section-block">
        <p>
          This unified confederation would also grant local government powers to groups like the french, who just only wants to have more control over their own affairs to become independent. Many colonial conferences were held, and members that all came from different colonial parliaments. They all discussed and debated about what a proposed federation of  British north America would look like. This was an idea that was inspired by the U.S Constitution. But was also very eager to avoid a repeat of the American Civil War, which had helped to make the politicians eventually agree that there group of colonial confederation should become a single federal confederation.
        </p>
      </div>
      <div class="section-block">
        <p>
          This system will be run by an elected parliament, but still allow a single member of the colony to keep its own local parliament and prime minister as well. But only the federal government will be given the power to make all of the criminal laws and regulate all matters that are of national importance like Currency, Trades, and immigration. While the colonies, or provinces as they would be know as now, would have the ability to have full control over local affairs like the education that is provided for children, businesses, and natural resources.
        </p>
      </div>
      <div class="section-block">
        <p>
          A new, self governing colony known as the Dominion Of Canada was finally formed. But the old united states provinces were split in two. Ontario for the English and Quebec for the French, which had alongside New Brunswick, and Nova scotia which had became the 4 first known as provinces in the confederation and the Dominion of Canada.
        </p>
      </div>
      <div class="section-block">
        <p>
          Canada’s first prime minister was a man named John A. Macdonald who had served as prime minister since 1867 until 1891 when he had passed away.
          Before he became Canada’s first prime minister he had been serving as a high- profile  politician in the old congress of United Province.
        </p>
      </div>
      <div class="section-block">
        <p>
          1867 was when modern day canadians had begun to celebrate july 1st as Canada day or “Day Canada” as they had said it. This celebration was not recognised as a holiday or a day that we should celebrate back then. It was recognised as the confederation deal in 1867.
        </p>
      </div>
    </ba-card>
  </div>
</div>
