<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1850 - 1859" baCardClass="with-scroll">
      <div class="section-block">
        <p>
          In 1850 The rise of federalism which was applauded by the English colonists but, the French saw the Act Of Union for what it pretty much was, a british effort to get rid of them. The new parliament that was set up after the union, french voter kept on sending radical Reformers to oppose the laws and regulation as a way to show displeasure with the state of the colonial government. Meanwhile very similar things were going on in Britain’s Maritime colonies.
        </p>
      </div>
      <div class="section-block">
        <p>
         Responsible government was founded in Newfoundland
        </p>
      </div>
      <div class="section-block">
        <p>
         Elected assemblies were finally established on Vancouver island. This was an important moment for Vancouver island because if elected essemblies hadn't been established Vancouver island wouldn't be what it is now.
        </p>
      </div>
    </ba-card>
  </div>
</div>
