<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1980 - 1989" baCardClass="with-scroll">
      <div class="section-block">
        <p>
          Back during the year of 1980, April 12, Terry fox began to run a marathon of hope around Canada in support of cancer research. But in 1980, September 1, because of the return of Terry Fox’s cancer he had to trim his marathon of hope to an end.
        </p>
      </div>
      <div class="section-block">
        <p>
          In 1981, the British government named a peak in the name of Terry Fox
          This was also the year when canadarm first deployed aboard the space shuttle        </p>
      </div>
      <div class="section-block">
        <p>
          1984 was the year when Pierre Trudeau announced that he will retire as soon as the Liberal Party of Canada can elect a new leader.
        </p>
      </div>
    </ba-card>
  </div>
</div>
