<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1800 - 1830" baCardClass="with-scroll">
      <div>in new component</div>
      <div class="section-block">
        <p>
          In the 1830’s Canada entered a time of considerable political unrest  with a very well organised group of revolutionaries or also known as the Reformers. They were all led by middle class French and catholic professionals. The reformers were all rallying against the corruption of the so-called family compact. They were self interested and didn’t care for others.

        </p>
      </div>
      <div class="section-block">
        <p>
          The family compact, British-born landowners who surrounded the governor and influenced his policies for their own gain. What the Reformers wanted varied, but most of them merely just want stronger elected assembly’s like themselves. And a system of government who were much more like Britain’s. But their were others who went even further than the Reformers and wanted Canada to either abandon British rule altogether and forever and then just simply form an independent republic or apply for U.S statehood. Over this conflict of choices, several armed rebellions had broken out with reformers taking to the streets and people torching buildings and much more. Many leaders of these  rebellions or known as provocateurs to their followers. Most of them were either hung, jailed or exiled to Australia.

        </p>
      </div>
      <div class="section-block">
        <p>
          In the year of 1838 the frightened British sent over a new governor known as Lord Durham to examine the situation with the rebellions. He had written a famous report on this matter which had said and concluded that the colonies were facing two major problems. The first one was that there wasn’t enough democracy. The second reason was that their was an out of control french population. Lord Durham had recommended merging Lower and Upper Canada into one United province of Canada, which would all be governed by a proper Parliamentary system. But this was only just as long as it was rigged to ensure more conservative english always held the majority of the seats.
        </p>
      </div>


    </ba-card>
  </div>
</div>
