<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1930 - 1839" baCardClass="with-scroll">
      <div class="section-block">
        <p>
          In the 1930 there was lots of depression from the aftermath of World War 1.
        </p>
      </div>
      <div class="section-block">
        <p>
          In 1931 the british parliament had gone much further with their laws. This is because they had passed a law known as the statute of westminster. This law took away Britain's ability to create
          laws for Canada and other colonies as well During this decade Canada had finally become a fully independent country.
        </p>
      </div>
      <div class="section-block">
        <p>
          September 1 1939 was when the second world war had commenced. It was the first war that Canada was involved in other than being dragged in by allies and truces. There was over 1 million canadians who had served in Canada’s army forces. But little did Canada know that the second world war had only begun.
        </p>
      </div>
    </ba-card>
  </div>
</div>
