<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1940 - 1949" baCardClass="with-scroll">
      <div class="section-block">
        <p>
          As a few more years passed during the second world war depression had plagued the entire economy of Canada. Even after the second world war ended it should have been celebrated but one fact remained which stuck out during the war. This fact was that Canada’s fighting was done by english-canadians. The french-canadians refused to become a part of this war and decided not to help even though they lived in Canada.         </p>
      </div>
      <div class="section-block">
        <p>
          1947 was the year when canada had first discovered oil in the province of Alberta which had put Canada on the map as an oil factory.       </div>
    </ba-card>
  </div>
</div>
