<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1910 - 1919" baCardClass="with-scroll">
      <div class="section-block">
        <p>
          The ten years in between 1906 until 1916 were the years when Canada had welcomed over two million new residents. This still remains as the largest population boom.         </p>
      </div>
      <div class="section-block">
        <p>
          1914 was the year where Germany had invaded Belgium which had forced Britain to also join in and go to war because of their alliance they had with each other at that time. All of britain’s colonies which included Canada as well were all dragged into the war to fight alongside their homeland.        </p>
      </div>
    </ba-card>
  </div>
</div>
