<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1950 - 1959" baCardClass="with-scroll">
      <div class="section-block">
        <p>
          The second world war had changed Canada. The two most important changes were national pride and also development of the economy. Industrialization had grown Canada’s sector of manufacturing. This offered canadians the chance to become world leaders of new industries like building cars and chemical processing.
        </p>
      </div>
    </ba-card>
  </div>
</div>
