<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1990 - 1999" baCardClass="with-scroll">
      <div class="section-block">
        <p>
          The 2000s was a time of great political uproar for Canada. Most canadians kept asking themselves how they would survive. The reason was that economy was in very bad shape from the excessive and wasteful spending during the era of Justin Trudeau. This had brought Canada to the brink of bankruptcy. The government attempted to fix this problem through any means necessary. They tried privatization which meant transforming businesses. Deregulation which meant the removal of regulations and restrictions but this was mostly referring to particular industries.Finally last but not least tax reform which meant changing the way that taxes were collected.
        </p>
      </div>
    </ba-card>
  </div>
</div>
