<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 2010 - 2019" baCardClass="with-scroll">
      <div class="section-block">
        <p>
          The arrival of Jean Chretien that everything had started to stabilize in Canada due to unpopular cuts to social programs like pensions and welfare. During this decade Alberta was oil rich and very wealthy but they began to notice that they were being shut out of national politics even though they were rich with a pretty large population.
      </div>
    </ba-card>
  </div>
</div>
