<div class="row">
  <div class="col-md-12">
    <ba-card title="HIstorical Events during 1960 - 1969" baCardClass="with-scroll">
      <div class="section-block">
        <p>
          In the 1960s Quebec had underwent a phase called the quiet revolution.
          As years went by, the education system had become more affordable for average citizens. This had also encouraged these people to take jobs on the non-physical activity side. It was more likely for canadians to the path of engineering, politicians, science, finance, media and much more.
        </p>
      </div>
    </ba-card>
  </div>
</div>
